@font-face {
    font-family: yekanbakhFa;
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/yekanbakhfa/regular.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakhFa;
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/yekanbakhfa/semibold.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakhFa;
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/yekanbakhfa/bold.woff2') format('woff2');
}