@import url('../fonts/fonts.css');

@tailwind base;

:root {
    --theme-black: 23, 25, 31;
    --theme-white: 255, 255, 255;
    --theme-error: 216, 14, 14;

    /*gray colors*/
    --theme-gray-50: 251, 251, 251;
    --theme-gray-100: 249, 249, 249;
    --theme-gray-200: 242, 242, 243;
    --theme-gray-300: 212, 213, 217;
    --theme-gray-400: 191, 192, 195;
    --theme-gray-500: 170, 170, 174;
    --theme-gray-600: 159, 160, 163;
    --theme-gray-700: 127, 128, 130;
    --theme-gray-800: 95, 96, 98;
    --theme-gray-900: 74, 75, 76;

    /*primary colors*/
    --theme-primary-50: 230, 231, 236;
    --theme-primary-100: 176, 182, 196;
    --theme-primary-200: 138, 146, 168;
    --theme-primary-300: 84, 97, 128;
    --theme-primary-400: 51, 66, 104;
    --theme-primary-500: 0, 19, 66;
    --theme-primary-600: 0, 17, 60;
    --theme-primary-700: 0, 13, 47;
    --theme-primary-800: 0, 10, 36;
    --theme-primary-900: 0, 8, 28;

    /*secondary colors*/
    --theme-secondary-50: 249, 231, 231;
    --theme-secondary-100: 235, 180, 180;
    --theme-secondary-200: 226, 144, 144;
    --theme-secondary-300: 212, 94, 94;
    --theme-secondary-400: 204, 62, 62;
    --theme-secondary-500: 191, 14, 14;
    --theme-secondary-600: 174, 13, 13;
    --theme-secondary-700: 136, 10, 10;
    --theme-secondary-800: 105, 10, 36;
    --theme-secondary-900: 0, 8, 8;

    /*success colors*/
    --theme-success-50: 231, 248, 242;
    --theme-success-100: 179, 233, 214;
    --theme-success-200: 142, 223, 194;
    --theme-success-500: 10, 185, 122;
}

body {
    direction: rtl;
    @apply cursor-default font-yekanbakhfa bg-primary-900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a {
    @apply focus:outline-none;
}

@tailwind components;

@layer components {
    .c-btn {
        @apply rounded-lg flex items-center justify-center px-3 disabled:opacity-30 disabled:pointer-events-none border transition-all;

        &.btn-success-fill {
            @apply bg-success border-success hover:border-success-700;

            * {
                @apply text-white;
            }
        }

        &.btn-success-outline {
            @apply bg-white border-success hover:border-success-700 text-success hover:text-success-600;
        }

        &.btn-success-text {
            @apply bg-white border-none text-success hover:text-success-600;
        }

        //&.btn-gray-fill {
        //    @apply bg-success border-success hover:border-success-700;
        //
        //    * {
        //        @apply text-white;
        //    }
        //}

        &.btn-gray-outline {
            @apply bg-white border-gray-800 hover:border-black text-gray-800 hover:text-black;
        }

        //&.btn-gray-text {
        //    @apply bg-white border-none text-success hover:text-success-600;
        //}

        &.btn-sm {
            @apply h-10 text-xsm font-normal;

            svg {
                @apply size-4;
            }

            i {
                @apply text-base leading-4;
            }
        }

        &.btn-md {
            @apply h-12 text-sm font-medium;

            svg {
                @apply size-5;
            }

            i {
                @apply text-xl leading-5;
            }
        }

        &.btn-lg {
            @apply h-14 text-base font-medium;

            svg {
                @apply size-6;
            }

            i {
                @apply text-2xl leading-6;
            }
        }

        &.btn-full {
            @apply w-full;
        }

        span {
            @apply px-2;
        }
    }
}

@tailwind utilities;

@layer utilities {
    .text-rtl {
        direction: rtl;
    }

    .text-ltr {
        direction: ltr;
    }
}