@import url('../fonts/fonts.css');
@import url('vue3-toastify/dist/index.css');

@tailwind base;

:root {
    --theme-black: 23, 25, 31;
    --theme-white: 255, 255, 255;
    --theme-error: 216, 14, 14;

    /*gray colors*/
    --theme-gray-50: 251, 251, 251;
    --theme-gray-100: 249, 249, 249;
    --theme-gray-200: 242, 242, 243;
    --theme-gray-300: 212, 213, 217;
    --theme-gray-400: 191, 192, 195;
    --theme-gray-500: 170, 170, 174;
    --theme-gray-600: 159, 160, 163;
    --theme-gray-700: 127, 128, 130;
    --theme-gray-800: 95, 96, 98;
    --theme-gray-900: 74, 75, 76;

    /*primary colors*/
    --theme-primary-50: 230, 231, 236;
    --theme-primary-100: 176, 182, 196;
    --theme-primary-200: 138, 146, 168;
    --theme-primary-300: 84, 97, 128;
    --theme-primary-400: 51, 66, 104;
    --theme-primary-500: 0, 19, 66;
    --theme-primary-600: 0, 17, 60;
    --theme-primary-700: 0, 13, 47;
    --theme-primary-800: 0, 10, 36;
    --theme-primary-900: 0, 8, 28;

    /*secondary colors*/
    --theme-secondary-50: 249, 231, 231;
    --theme-secondary-100: 235, 180, 180;
    --theme-secondary-200: 226, 144, 144;
    --theme-secondary-300: 212, 94, 94;
    --theme-secondary-400: 204, 62, 62;
    --theme-secondary-500: 191, 14, 14;
    --theme-secondary-600: 174, 13, 13;
    --theme-secondary-700: 136, 10, 10;
    --theme-secondary-800: 105, 8, 8;
    --theme-secondary-900: 80, 6, 6;

    /*success colors*/
    --theme-success-50: 231, 248, 242;
    --theme-success-100: 179, 233, 214;
    --theme-success-200: 142, 223, 194;
    --theme-success-500: 10, 185, 122;
}

body {
    direction: rtl;
    @apply cursor-default font-yekanbakhfa bg-primary-900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a {
    @apply focus:outline-none;
}

@tailwind components;

@layer components {
    .c-btn {
        @apply flex items-center justify-center gap-2 px-4 disabled:opacity-30 disabled:pointer-events-none border-none transition-all;
      
        &.btn-danger-fill {
            @apply bg-secondary-500 text-white hover:bg-secondary-700 hover:text-secondary-50 relative hover:before:opacity-0 before:absolute before:content-[''] before:h-12 before:w-56 before:rounded-full before:bg-secondary-500 before:-top-1 before:right-1/2 before:translate-x-1/2 before:blur-4xl md:before:w-28 md:before:h-10 md:before:-top-1;

            //* {
            //    @apply text-white;
            //}
        }
        &.btn-secondary-fill {
            @apply bg-primary-50 text-primary-500 hover:bg-primary-200 hover:text-primary-50;

            //* {
            //    @apply  text-primary-500;
            //}
        }
        // &.btn-sm {
        
        // }

        &.btn-md {
         @apply rounded-3xl text-xs h-10;
        }

        &.btn-lg {
            @apply rounded-3xl text-base h-12;
        }

        &.btn-full {
            @apply w-full;
        }

        span {
            @apply px-2;
        }
    }

    .c-padding {
        @apply py-6 lg:py-10;
    }

    .scrollbar-hidden {
        &::-webkit-scrollbar {
            @apply w-0;
        }

        //&::-webkit-scrollbar-track {
        //    @apply w-0;
        //}
    }

    .c-input-parent {
        @apply w-full h-14 rounded-2xl text-gray-500 border border-gray-500 relative flex flex-row items-center gap-4 px-3 transition-all focus-within:border-gray-700;

        &.has-error {
            @apply border-secondary-400;
        }

        &.has-textarea {
            @apply h-36;
        }

        .icon {
            @apply size-5;
        }

        .input {
            @apply text-sm size-full font-normal bg-transparent border-0 p-0 focus:outline-none focus:ring-0;
        }

        .textarea {
            @apply text-sm p-3.5 size-full font-normal bg-transparent border-0 resize-none focus:outline-none focus:ring-0;
        }
    }
}

@tailwind utilities;

@layer utilities {
    .text-rtl {
        direction: rtl;
    }

    .text-ltr {
        direction: ltr;
    }
}

.home-hero-swiper-container {
    .swiper {
        @apply overflow-visible;
    }
    // .swiper-wrapper {
    //     @apply duration-3000 #{!important};
    // }
    .swiper-slide {
        @apply opacity-0 #{!important};

        &.swiper-slide-active {
            @apply opacity-100 #{!important};
        }
    }
    .swiper-pagination {
        @apply bottom-auto top-56 sm:top-64 md:top-68 lg:top-96 xl:top-116 right-0 w-full left-auto #{!important};
        @apply flex justify-center items-center gap-2;

        .swiper-pagination-bullet {
            @apply w-2 h-1 rounded opacity-100 bg-primary-300 transition-all duration-1000;

            &.swiper-pagination-bullet-active {
                @apply w-4 bg-white;
            }
        }
    }
}

.hero-slide-1-start {
    .hs-title {
        @apply animate-slide-1-title-start ease-slide;
        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-title-start-lg ease-slide;
        }
    }
    .hs-image {
        @apply animate-slide-1-image-start ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-1-image-start-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-image-start-lg ease-slide;
        }
    }
    .hs-image-shadow {
        @apply animate-slide-1-shadow-start ease-slide;
    }
    .hs-right-text {
        @apply animate-slide-1-right-text-start ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-1-right-text-start-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-right-text-start-lg ease-slide;
        }
    }
    .hs-right-square {
        @apply animate-slide-1-right-square-start ease-slide;
    }
    .hs-left-text {
        @apply animate-slide-1-left-text-start ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-1-left-text-start-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-left-text-start-lg ease-slide;
        }
    }
    .hs-left-square {
        @apply animate-slide-1-left-square-start ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-1-left-square-start-lg ease-slide;
        }
    }
    .hs-description {
        @apply animate-slide-1-description-start ease-slide;

        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-description-start-lg ease-slide;
        }
    }
}

.hero-slide-1-end {
    .hs-title {
        @apply animate-slide-1-title-end ease-slide;
        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-title-end-lg ease-slide;
        }
    }
    .hs-image {
        @apply animate-slide-1-image-end ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-1-image-end-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-image-end-lg ease-slide;
        }
    }
    .hs-image-shadow {
        @apply animate-slide-1-shadow-end ease-slide;
    }
    .hs-right-text {
        @apply animate-slide-1-right-text-end ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-1-right-text-end-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-right-text-end-lg ease-slide;
        }
    }
    .hs-right-square {
        @apply animate-slide-1-right-square-end ease-slide;
    }
    .hs-left-text {
        @apply animate-slide-1-left-text-end ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-1-left-text-end-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-left-text-end-lg ease-slide;
        }
    }
    .hs-left-square {
        @apply animate-slide-1-left-square-end ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-1-left-square-end-lg ease-slide;
        }
    }
    .hs-description {
        @apply animate-slide-1-description-end ease-slide;

        @screen lg {
            @apply animate-none;
            @apply animate-slide-1-description-end-lg ease-slide;
        }
    }
}

.hero-slide-2-start {
    .hs-title {
        @apply animate-slide-2-title-start ease-slide;
        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-title-start-lg ease-slide;
        }
    }
    .hs-image {
        @apply animate-slide-2-image-start ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-2-image-start-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-image-start-lg ease-slide;
        }
    }
    // .hs-image-shadow {
    //     @apply animate-slide-1-shadow-start ease-slide;
    // }
    .hs-right-text {
        @apply animate-slide-2-right-text-start ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-2-right-text-start-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-right-text-start-lg ease-slide;
        }
    }
    .hs-right-square {
        @apply animate-slide-2-right-square-start ease-slide;
    }
    .hs-left-text {
        @apply animate-slide-2-left-text-start ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-2-left-text-start-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-left-text-start-lg ease-slide;
        }
    }
    .hs-left-square {
        @apply animate-slide-2-left-square-start ease-slide;

        // @screen sm {
        //     @apply animate-none;
        //     @apply animate-slide-1-left-square-start-lg ease-slide;
        // }
    }
    .hs-description {
        @apply animate-slide-2-description-start ease-slide;

        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-description-start-lg ease-slide;
        }
    }
}

.hero-slide-2-end {
    .hs-title {
        @apply animate-slide-2-title-end ease-slide;
        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-title-end-lg ease-slide;
        }
    }
    .hs-image {
        @apply animate-slide-2-image-end ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-2-image-end-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-image-end-lg ease-slide;
        }
    }
    // .hs-image-shadow {
    //     @apply animate-slide-1-shadow-end ease-slide;
    // }
    .hs-right-text {
        @apply animate-slide-2-right-text-end ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-2-right-text-end-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-right-text-end-lg ease-slide;
        }
    }
    .hs-right-square {
        @apply animate-slide-2-right-square-end ease-slide;
    }
    .hs-left-text {
        @apply animate-slide-2-left-text-end ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-2-left-text-end-sm ease-slide;
        }

        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-left-text-end-lg ease-slide;
        }
    }
    .hs-left-square {
        @apply animate-slide-2-left-square-end ease-slide;

        @screen sm {
            @apply animate-none;
            @apply animate-slide-2-left-square-end-lg ease-slide;
        }
    }
    .hs-description {
        @apply animate-slide-2-description-end ease-slide;

        @screen lg {
            @apply animate-none;
            @apply animate-slide-2-description-end-lg ease-slide;
        }
    }
}

.Toastify {
    .Toastify__toast-container {
        @apply w-auto;
        .Toastify__toast {
            @apply min-h-10 font-yekanbakhfa text-sm rounded-3xl py-0 px-4 shadow-[-5px_-5px_12px_0px_rgba(230,231,236,0.2),5px_5px_12px_0px_rgba(230,231,236,0.2)];

            .Toastify__toast-body {
                @apply m-0;
            }

            .Toastify__close-button {
                @apply hidden;
            }

            &.Toastify__toast--success {
                @apply text-primary-500;
            }

            &.Toastify__toast--error {
                @apply text-secondary-500;
            }
        }
    }
}